**/nbproject/private/
**/build/Release/
**/dist/Release/
/svn-old/
.DS_Store/
*.DS_Store
dist/
build/
*~
*.log
*.pyc
.*.xml
.*.swp
.*.swp
.*.swo
.*.swn
.*.tmp
.ropeproject
core
working
traceback.txt
MIT-results
data-iiw-*
params-dump
mongodb
workers
results/
data-iiw-sparse/
data-iiw-dense/
params-dump
tmp/
